.buttons{
    width: 300;
    height: 450;
   margin: 50px;
   padding: 30px;
   border-radius: 15px;
    transform: scale(1,1,1);
    /* shadow */
   box-shadow: 10px 10px 42px 0px rgba(0,0,0,0.28);
   -moz-box-shadow: 10px 10px 42px 0px rgba(0,0,0,0.28);
   -webkit-box-shadow: 10px 10px 42px 0px rgba(0,0,0,0.28);
    transition: 0.3s;
    &::hover{
        transform: scale(1.1,1.1,1.1);
    }
}
