.app-container {
  position: relative;
  width: 100%;
}

.content-overlay {
  position: relative;
  z-index: 10;
  width: 100%;
}

.title-panel {
  padding: 0.75rem 2rem;
  width: fit-content;
  border-radius: 1rem;
  margin-bottom: 2rem !important;
}

.title-center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.title-left {
  margin-right: auto;
}

.title-right {
  margin-left: auto;
}